<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/ca007fa5-7b6a-4378-b791-2905823aba73/resourceGroups/POC/providers/Microsoft.ContainerRegistry/registries/mmspanasonic</ResourceId>
    <ResourceName>mmspanasonic</ResourceName>
    <ResourceGroup>POC</ResourceGroup>
    <Subscription>[337-1167]Panasonic_POC</Subscription>
    <RegistryUrl>https://mmspanasonic.azurecr.io</RegistryUrl>
    <UserName>mmspanasonic</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>deb625de-e08e-451d-9458-f1bf90964720</ProjectGuid>
  </PropertyGroup>
</Project>